body { 
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: black;
    margin: 0;
    padding: 0;
}

nav { /* Navigation Bar */
    display: flex;
    height: auto;
    background: black;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.nav-toggle {     /* Hamberger Menu */
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px
}

.logo {
    margin: 40px 0 40px 0;
}

ul {  /*  แถบ Navigation */
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
}

ul li {  /* Menu */
    list-style-type: none;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    border-bottom: none;
    /* ลบเส้น */
    padding: 5px 50px;
    font-family: 'Poppins', sans-serif;
}

ul li a {  /* Text Menu */
    text-decoration: none;
    color: white;
}

ul li:first-child {
    margin-top: 0;

}

ul li:hover {
    opacity: 0.5;
}

.active {
    display: flex;

}

/* หน้าจอ Mobile  */

@media screen and (min-width: 800px) {
    nav {
        height: 100px;
        flex-direction: row;
    }

    .logo {
        padding-left: 50px;
        margin: 0;
        width: 20%;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        flex-direction: row;
        
    }

    ul li {
        display: inline-block;
        margin: 0 50px 0 30px;
        text-align: left;
        border-bottom-style: none;
        padding: 20;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        


    }

    .nav-toggle {
        display: none;
        color: white;
    }
}

/* หน้าจอ Desktop */

h1 {
    margin: 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;

}

h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 68px;
    margin-top: 321px;
    margin-left: 90px;

}

p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: light;
    margin-left: 90px;
    display: inline-block;
    

}


.Logo {
    width: 250px;
    height: 150px;
    float: left;
    margin-top: 10px;
    
}

/* รูปเช็คลิสต์ */
.ICheklistimg {
    width: 40%;
    height: 45%;    
    float: right;
    margin-top:  220px;
    margin-right: 79px;
}

/*  ปรับตำแหน่ง Text */
h1 {
    text-align: left;
    margin-left: 150px;
    margin-top: 272px;
    font-family: 'Poppins', sans-serif;
    font-size: 68px;
    font-weight: 600;
}

p {
    text-align: left;
    margin-left: 150px;
    
}

.Checklist {
    margin-top: 300px;
}

/* รูป Notes */
.INotesimg{
    width: 455px;
    height: 457px;
    float: left;
    margin-top:  290px;
    margin-left:  183px;

}

/*  หัวข้อ Notes */

.Notes {
    text-align: right;
    margin-top: 348px;
    margin-right: 670px;
}


.Pnotes {
    float: right;
    margin-right: 100px;
}

/*  รูป Tracker */
.ITrackerimg {
    float: right;
    width: 735px;
    height: 390px;
    margin-top: 350px;
}


.ITracker {
    margin-top: 600px;
}

















